*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right bottom,red,black,blue);
}
:root{
    --navbar-height:59px;

}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
  
  
}
#logo{
    margin:2px 3px;
    
}
#logo img{
    height: 65px;
    margin: 9px 6px;

}
#navbar ul{
    display: flex;
    margin: auto 200px;
    width: 40%;
}

#navbar ul li{
    list-style: none;
    font-size: 1rem;
    
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 3px 24px;
    border-radius: 25px;
    font-family: 'Fredoka One', cursive;
font-family: 'Shadows Into Light', cursive;
font-size: 2rem;
font-weight: bolder;
color: crimson;
}
#navbar ul li a:hover{
    color: blanchedalmond;
    background-color: blue;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 530px;
}
#home::before{
    
    content: "";
    position: absolute;
    background: url('https://source.unsplash.com/collection/190727/1600x900') no-repeat center center/cover;
    top: 0px;
   left: 0px;
     height: 642px; 
    width: 100%;
    z-index: -1;
    /* opacity: 0.89; */
}
#navbar::before{
    
    
   

    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

    
}
.h-primary{
    font-size: 2.5rem;
    padding: 15px;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Reggae One', cursive;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 15px;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Reggae One', cursive;
}
#home h1{
    color: rgb(1, 65, 255);
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Reggae One', cursive;
}
p{
    font-family: 'Shadows Into Light', cursive;
}
.btn{
    font-family: 'Pattaya', sans-serif;
    font-family: 'Reggae One', cursive;
    padding: 8px 21px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
}
.btn:hover{
    font-size: 1.3rem;
    background-color: lightsalmon;
    font-family: 'Shadows Into Light', cursive;
    box-shadow: 2px 2px green;
    
}
#logo h5{
   display: flex;
   flex-direction: column;
  
   color: thistle;
}
#logo h5:hover{
    color: rgb(193, 35, 35);
    
}
.center{
text-align: center;
color: rgb(157, 202, 153);
}
#services{
    margin: 34px;
    display: flex;
    justify-content: center;
    

}
#services::before{
    content: "";
background: url(https://source.unsplash.com/collection/190727/1600x900)no-repeat center;
z-index: -1;
}
#services .box{
    border: 2px solid brown;
    margin: 3px 6px;
    border-radius: 28px;
    padding: 34px;
    width: 30%;
    background: #a8cac5;
}
#services .box p{
    font-family: 'Pattaya', sans-serif;
    font-family: 'Reggae One', cursive;
}
#services .box img{
   height: 160px;
   display: block;
   margin: auto;
   
}
.b{
    color: darkblue;
}
#client-section{
    position: relative;
    height: 400px;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqZA1163DgKl7-fVujIRyr1RR66zmYJgq0kA&usqp=CAU')no-repeat center center/cover;
    width: 100%;
    height: 56%;
    z-index: -1;
    opacity: 0.7;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 125px;
}
.client-item{
    padding: 34px;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRepTKSegzQ6FWHYP-6Typ5X9yU3xqDjJIZcw&usqp=CAU) no-repeat center center/cover;

}
footer{
    background-color: black;
    color: white;
    padding: 8px 25px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
 
#navbar .btn{
    right: 5px;
     font-size: small;
     background-color: black;
     color: rgb(179, 110, 6);
     padding: 10px 15px;
     box-shadow: 2px 3px  red;

 } 
 #home p{
     color: rgb(16, 67, 251);
     font-size: 25PX;
     font-weight: bolder;
 }
 html{
     scroll-behavior: smooth;
 }
